@import "../base"

#detail
  padding 10px 10px
  overflow-x hidden

.header
.footer
  width 100%

img
  width 100%

.header
  // border-bottom 1px solid #eeeeee
  margin-bottom 10px
  // img
  //   width 30% !important
  //   margin 0 35%

.content
  background-color #fff
